*{
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center,
}

.calculator{
    position: relative;
    height: 500px;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 50px;
    padding: 10px;
    background-color: gray;
}

.minCalc{
    opacity: 0.7;
    text-align: right;
    right: 50px;
    top: 6px;
    font-size: 17px;
    position: absolute;
}

.result{
    height: 90px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: right;
    padding: 50px 30px 0 10px;
    margin: 20px 0 10px 0;
    font-size: 40px;
    background-color: lightgreen;
    overflow: hidden;
}

.top{
    padding-bottom: 10px;
}

.bottom{
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
}

.bottom div{
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #000;
    background: lightgreen;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}